@import "./normalize";
@import "./mixins";
@import "./fluid-type";
@import "./vars";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    // @include fluid-type($min_width, $max_width, $min_font, $max_font);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

body {
    --bg: #fcfcfd;
    --fg: #a0b1ba;
    --text-color: hsl(240, 14%, 19%);
    --link-color: #2962FF;
    --link-visited-color: #6200EA;
    
    margin: 0;
    padding: 0;
    background: var(--bg);
    color:var(--text-color);
    background-image: radial-gradient(var(--fg) 5%, transparent 0);
    background-size: 1em 1em;
    transition: background-color .3s ease-in, color .3s ease-in;
    
    &.dark {
        --fg: #fcfcfd;
        --bg: #37474F;
        --text-color: #fcfcfd;
        --link-color: #FFEB3B;
        --link-visited-color: #FFC107;

        background-image: radial-gradient(black 5%, transparent 0);
    }
    
    a {
        transition: color .3s ease-in;

        &:link,
        &:active,
        &:hover {
            color:var(--link-color);
        }
        
        &:visited {
            color:var(--link-visited-color);
        }
    }
}

/* Single property */
html {
    @include fluid-type(font-size, 320px, 1366px, 16px, 18px);

    line-height: 1.5;
}

/* Multiple properties with same values */
h1 {
    @include fluid-type(font-size, 20em, 70em, 2em, 3em);
}

pre {
    overflow: scroll;
    background: $bg-alt;
    padding: $margin-sm;
    margin: #{$margin-lg} #{-$margin-sm};
}

main {
    margin: 0 auto;
    max-width: 60em;
    background: var(--bg);
    padding-top:1em;
    padding-bottom:1em;
    padding-top:68px;
    transition: background .3s ease-in;
}

main
{
    position:relative;
}

main:before, main:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

main:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.bodyContent {
    box-sizing: border-box;
    // margin: 0 auto;
    // max-width: 60em;
    

    @include poly-fluid-sizing("padding-left", (320px: 16px, 768px: 48px));
    @include poly-fluid-sizing("padding-right", (320px: 16px, 768px: 48px));
}

hr {
    @include fluid-type(margin-top, 20em, 70em, 2em, 4em);
    @include fluid-type(margin-bottom, 20em, 70em, 2em, 4em);

    background: var(--fg);
    border: 0;
    height: 1px;
    margin: 0 auto;
    max-width: 60em;
    overflow: visible;
    text-align: center;

    &:after {
        background: var(--bg);
        content: "• • •";
        display: inline-block;
        font-size: 1.4em;
        padding: 0 0.4em;
        position: relative;
        top: -0.7em;
    }

    &.endPost {
        background: $red;

        &:after {
            color: $red;
            content: "END";
            font-size: .7em;
            top: -1.2em;
        }
    }
}

p {
    & > .gatsby-resp-image-link {
        width: calc(50% - .5em);
        float: left;
        
        &:first-child {
          margin-right: 1em;
        }
        
        &:last-child {
          &::after {
            content: '';
            display: block;
            float: none;
          }
        }
        
        &:only-child {
          float: none;
          width: 100%;
          margin-right: 0;
        }
      }
      
      & > img {
        max-width: 100%;
        width: auto;
        margin: 0 auto;
    }
}

blockquote {
    position: relative;
    padding: 1em 3.33em;
    margin: 1em 0;
    background: mix($highlight, $bg, 10%);
    font-style: italic;
    
    &::before {
        content: "“";
        font-style: normal;
        font-family: serif;
        font-weight: bold;
        position: absolute;
        font-size: 3em;
        color: $highlight;
        top: 0;
        left: .33em;
    }
    
    &::after {
        content: "”";
        font-style: normal;
        font-family: serif;
        font-weight: bold;
        position: absolute;
        font-size: 3em;
        color: $highlight;
        bottom: 0;
        right: .33em;
    }
}

@import "./home";