$bg: hsl(240, 14%, 99%);
$bg-alt: hsl(240, 14%, 94%);
$fg: hsl(240, 14%, 19%);
$fg-bold: hsl(240, 14%, 14%);
$fg-light: hsl(240, 100%, 18%);
$border: hsl(240, 100%, 12%);
$border-bg: hsl(240, 14%, 92%);
$highlight: hsl(196, 100%, 47%);
$highlight-alt: hsl(196, 100%, 42%);
$red: hsl(346, 88%, 52%);
$margin-sm: .5em;