@import '../assets/scss/libs/vars';
@import '../assets/scss/libs/functions';
@import '../assets/scss/libs/mixins';
@import '../assets/scss/libs/skel';

.profileImage {
    border-radius: 50%;
    border: 1px solid _palette(fg);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

@media screen and (max-width: 736px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

.profileImageContainer {
    margin-right: 1.5em;
    padding: .5em;
    background: _palette(highlight);
    border-radius: 50%;
    height: calc(120px + 1em);
    box-sizing: border-box;
}

@media screen and (max-width: 736px) {
    .profileImageContainer {
        margin-bottom: 2em;
    }
}

.textContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.socialMedia {
    text-align: center;
}

.socialMediaLabel {
    display: block !important;
    font-size: .75em;
}