@import "../assets/scss/vars.scss";

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    height:100%;
}

.tile {
    display: flex;
    flex: 1 1 0%;
    padding: 2em;
    position: relative;

    a {
        color: $bg;
        text-decoration: none;
    }
    
    h3, 
    p {
        position: relative;
    }

    h3 {
        display: inline-block;
        border-bottom: .1em dotted $bg;
    }
}

.tileContainer {
    width: 100%;
    height: calc(33vw - 2em);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-top: 2em;
    margin-bottom: 2em;
}

.blackout {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}