/* Header */

	#header {
		@include vendor('display', 'flex');
		cursor: default;
		font-weight: _font(weight-bold);
		height: 3.25em;
		left: 0;
		letter-spacing: _font(letter-spacing-alt);
		line-height: 3.25em;
		margin: 0;
		position: fixed;
		text-transform: uppercase;
		top: 0;
		width: 100%;
		z-index: _misc(z-index-base);
		background: _palette(fg);

		.logo {
			border: 0;
			display: inline-block;
			font-size: 0.8em;
			height: inherit;
			line-height: inherit;
			padding: 0 1.5em;

			strong {
				@include vendor('transition', (
					'background-color #{_duration(transition)} ease-in-out',
					'color #{_duration(transition)} ease-in-out'
				));
				background-color: _palette(fg-bold);
				color: _palette(bg);
				display: inline-block;
				line-height: 1.65em;
				margin-right: 0.325em;
				padding: 0 0.125em 0 (_font(letter-spacing-alt) + 0.125em);
			}

			&:hover {
				strong {
					background-color: _palette(highlight);
				}
			}

			&:active {
				strong {
					background-color: desaturate(darken(_palette(highlight), 15), 5);
				}
			}
		}

		nav {
			@include vendor('display', 'flex');
			@include vendor('justify-content', 'flex-start');
			@include vendor('flex-grow', '1');
			height: inherit;
			line-height: inherit;

			a {
				border: 0;
				display: block;
				font-size: 0.8em;
				height: inherit;
				line-height: inherit;
				padding: 0 1em;
				position: relative;
				vertical-align: middle;
				color: _palette(bg);
	
				&:first-child {
					padding-left: 2em;
				}			
				
				&.active {

					&:first-child {
						&:before {
							left: 2em;
						}
					}
					
					&:hover {
						color: _palette(bg) !important;
					}
					
					&:before {
						content: '';
						left: .8em;
						height: .1em;
						background: #F01849;
						display: inline-block;
						position: absolute;
						top: 3em;
						right: 1.2em;
					}
				}
			}
		}

		&.alt {
			position: relative;

			&.style1 { .logo { strong { color: _palette(accent1); } } }
			&.style2 { .logo { strong { color: _palette(accent2); } } }
			&.style3 { .logo { strong { color: _palette(accent3); } } }
			&.style4 { .logo { strong { color: _palette(accent4); } } }
			&.style5 { .logo { strong { color: _palette(accent5); } } }
			&.style6 { .logo { strong { color: _palette(accent6); } } }
		}

		@include breakpoint(small) {
			height: 2.75em;
			line-height: 2.75em;

			nav {
				a {
					&.active {
						&:before {
							top: 2.75em;
						}
					}
				}
			}
		}
	}